 body {
    background-image: url(resource/1234.png);
    /*background-image: url('https://m.media-amazon.com/images/G/01/IMDb/design/prototypes/vlp/smoke-bg_v2.jpg');
    /*background-color: #5b2e86 #8a67cb;*/
    /*background-blend-mode: multiply;*/
    background-repeat: space;
    background-position: top;
    background-size: cover;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 6vw;
    margin-right: 6vw;
    padding: 1vw;
}
.movieContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 20vh;
    padding-top: 2vh;
}
.staffPickContainer{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 25%;
    
    /*background-color: lightgreen;*/
}
.staffPickContainer > h1{
    display: flex;
    justify-content: center;
    font-size: clamp(24px, 47px, 47px);
    font-family: Roboto,Helvetica, Arial,  sans-serif;
    font-weight: 900;
    color: white;
    margin-top: clamp(24px, 48px, 48px);
    text-align: center;
}
.staffPickBanner{
    height: auto;
    object-fit: contain;
    /*background-color: orange;*/
}
.movieBannerContainer{
    width: 100%;
    aspect-ratio: 23/9;
    max-height: fit-content;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 4vh;
    box-shadow:  0 10px 50px rgba(0, 0, 0, 0.3);
    position: relative;
    /*background-color: lightpink;*/
}
.movieBanner{
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /*background-color: orange;*/
    
}
.overlayVideoContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.videoTrailer{
    width: 30vw;
    aspect-ratio: 16/9;
    max-height: fit-content;
    margin: 2%  
}
.videoTrailer iframe{
    width: 100%; 
    height: 100%;
    border-radius: 10px;
}
.moviePosterAndDataContainer{
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 5%;
    margin-bottom: 30px;
    justify-content: flex-start;
}


.moviePosterContainer{
    width: 23%;
    height: auto;
    display: flex;
    justify-content: right;
    padding-left: 3vw ;
    position: relative;
    /*background-color: lightblue;*/
}
.moviePoster{
    width: 55%;
    height: auto;
    aspect-ratio: 2/3;
    background-color: lightgray;
    margin-top: 5%;
    margin-bottom: auto;
}
.movieDataContainer{
    width: 66%;
    height: auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
    /*background-color: rgb(18, 60, 18);  */
}
.movieDataName{
    height: 18%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 3rem; /*clamp(MIN, PREFERRED, MAX)*/
    font-family: Roboto,Helvetica, Arial,  sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 3%;
    margin-bottom: 0%;
    max-height: fit-content;
}
.arrowIcon{
    width: 4%;
    height: auto;
    margin-top: 2%;
    padding-top: 10px;
    padding-left: 10px;
}
.rateContainer{
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.scoreIn10{
    font-size: large;
    font-family: Roboto, Helvetica, Arial,  sans-serif;
    color: #FFFFFFB3;
    margin-right: 10px;
}
.starContainer {
    width: 14.4px;
    height: auto;
    color: #F5C518;
    margin-right: 5px;
}
.line{
    height: 27px;
    border-right: 1px solid #F5C518;
    transform: scaleX(0.5);
}
.clickRateContainer{
    font-size: large;
    font-family: Roboto, Helvetica, Arial,  sans-serif;
    color: #F83CED;
    margin-left: 10px;
}
.clickRateStar{
    width: 14.4px;
    height: auto;
    color: #F83CED;
}
.movieData{
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    font-family: Roboto, Helvetica, Arial,  sans-serif;
    font-weight: 550;
    color: white;
    margin-top: 0%;
    margin-bottom: 1%;
}
.castContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.cast{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.cast img{
    width: 111px;
    height: auto;
    border-radius: 90px;
    object-fit: cover;
    margin-bottom: 10%;
}
.cast a{
    font-size: 100%;
    font-family: Roboto, Helvetica, Arial,  sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}














